<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Akv Operator Interface</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/getoperatorform">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/getcategories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Access
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Login</a>
          <a class="dropdown-item" href="/usersignup">Signup</a>
        </div>
      </li> --}}
      <li class="nav-item float-right">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  </div>
</nav>

{{!-- <div class="site-header-wrapper sitebg disb">
  <header class="hfixed">
    <a class="pbell1 mmbell" id="listmenu"><i class="fa fa-bars bef1 mplr-5" aria-hidden="true"></i></a>
    <a class="pbell1 mmbell" id="closemenu"><i class="fa fa-arrow-left bef1 mplr-5" aria-hidden="true"></i></a>
    <img src="assets/img/logo/mhm-inside.png"  class="img-responsive  marr15 disi mlp15 wlogo ptb-5" alt="Akrivia MHM">
    <a class="dropdown-toggle fr" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#"
    aria-expanded="false"><img class="rounded-circle uicon fr" width="25" src="assets/img/avatar-1.jpg" alt="logo"></a>
    <ul class="dropdown-menu pull-right arrow" x-placement="bottom-start">
      <li>
        <a href="/" class="cursor">&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i> Logout </a>
      </li>
    </ul>
    <a class="pbell fr mmbell"><i class="fas fa-bell bef"></i></a>
  </header>
</div> --}}