<div class="sidebar-menu">
  <div class="sidebar-menu-inner sidebar-inner-menu ps-container ps-active-y">
    <ul id="main-menu" class="main-menu">
      <li class="lstnav">
        <a>
          <!-- <i><img  src="../../assets/icons/dashboard.svg" alt=""></i> -->
          <i class="fa fa-tachometer ficon" aria-hidden="true"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>
    </ul>
  </div>
</div>