<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="img/m19.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/header-nav.css" type="text/css">
    <link rel="stylesheet" href="assets/css/sidemenu.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="tail.select/css/bootstrap4/tail.select-default.css">
    <title>Akrivia Operator Interface</title>
</head>

<body>

    {{{body}}}

    <script src="assets/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="tail.select/js/tail.select-full.min.js"></script>
</body>

</html>